@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
:root{
    --color-primario: #B2F269;
    --color-secundario: #673C62;
    --color-blanco: #E4E6ED;
    --color-negro: #141414;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-style: normal;
    font-weight: 400;
}
body{
    scroll-behavior: smooth;
}
/* NAVBAR */
h1{
    line-height: 0.9;
    color: var(--color-secundario);
}
/* MOBILE*/
.nav{
    background-color: var(--color-primario);
    position: fixed;
    width: 100%;
    top: -100%;
    transition: opacity 0.6s ease, transform 0.6s ease;
    z-index: 1000;
}
.nav.show{
    opacity: 1;
    top: 0%;
    transition: .4s ease-out ;
}
.nav-container{
    width: 90%;
    height: 60px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content:space-between;

    --icono-menu: url("./images/menu_50dp_F0F2FA_FILL1_wght500_GRAD0_opsz48.png");
}
/*VERIFICADOR DEL CHECKBOX*/
.nav-container:has(.nav-input:checked){
    --icono-menu: url("./images/close_50dp_F0F2FA_FILL1_wght500_GRAD0_opsz48.png");
    .nav-list{
        transform: translateX(0%);
    }
}
.nav-list{
    list-style: none;
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    padding: 2rem 5%;
    background-color: var(--color-primario);

    transform: translateX(-100%);
    transition: .5s transform;
}
.nav-link{
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    color: var(--color-secundario);
}
.nav h1, .nav-btn{
    z-index: 10;
}
.nav-btn{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: var(--icono-menu);
    background-size: cover;

    background-color: var(--color-secundario);
    border-radius: 50px;
    border: 5px solid #673C62;

    transition: background-image 0.5s;
}
.nav-input{
    display:none; 
}
@media (width > 679px){
    .nav-btn{
        display: none ;
        position: fixed;
    }
    .nav-list{
        transform: translateX(0);
        flex-direction: row;
        position: absolute;
        justify-content: end;
        
    }
    #btn-contacto{
        color: var(--color-blanco);
        background-color: var(--color-secundario);
        padding: 0.5rem 1rem;
        border-radius: 50px 50px;
    }
}

/*SECTORES*/
.containerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 2rem 3rem;
    overflow: hidden;
}
h2{
    font-size: 30px;
    font-weight: 800;
    color: var(--color-secundario);
}

/*INICIO*/
#inicio{
    background-color: var(--color-blanco);
    min-height: 100%; 
    font-size: x-large;
}
#inicio span{
    color: var(--color-secundario);
}
#inicio a{
    font-size: large;
    text-decoration: none;
    color: var(--color-blanco);
    background-color: var(--color-secundario);
    line-height: 5rem;
    padding: 10px 9px;
    z-index: 1;
    border: 2px solid var(--color-secundario);
    transition: all 0.5s ease;
}
#inicio a:hover{
    background: transparent;
    color: var(--color-secundario);
    box-shadow: 0 0 5px var(--color-secundario), 0 0 40px var(--color-secundario);
}

/*SOBRE MI*/
#sobre-mi{
    background-color: var(--color-primario);
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    scroll-margin-top: 60px; /*para evitar que el titulo quede tapado*/
}
#sobre-mi p{
    text-align: center;
    font-size: medium;
    margin: 1rem 0;
}
#sobre-mi b{
    font-weight: 700;
    color: var(--color-secundario);
}
.sm-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#sobre-mi img{
    height: 12rem;
    width: 12rem;
    padding: 1.5rem;
}
#sobre-mi a{
    font-size: large;
    text-decoration: none;
    color: var(--color-blanco);
    background-color: var(--color-secundario);
    border: 2px solid var(--color-secundario);
    padding: 10px 9px;
    z-index: 1;
    transition: all 0.5s ease;
}
#sobre-mi a:hover{
    background: transparent;
    color: var(--color-secundario);
    box-shadow: 0 0 5px var(--color-secundario), 0 0 40px var(--color-secundario);
    background-color: var(--color-blanco);
}
@media (width>679px){
    #sobre-mi p{
        max-width: 60vw;
    }
    #sobre-mi h2{
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .sm-container{
        display: flex;
        flex-direction: row-reverse;
        gap: 10rem;
    }
    #sobre-mi img{
        height: 20rem;
        width: 20rem;
        padding: 1.5rem;
    }
    .sm-text{
        max-width: 22rem;
    }

}
@media (width>1025px){
    #sobre-mi img{
        height: 22rem;
        width: 22rem;
        padding: 1.5rem;
        
        
    }
}

#habilidades{
    background-color: var(--color-blanco);
    flex-direction: column;
    font-size: x-large;
    min-height: 100vh;
    scroll-margin-top: 60px; /*para evitar que el titulo quede tapado*/
    gap: 3rem;
}
#habilidades h2{
    font-size: 30px;
    font-weight: 900;
}
.h-container{
    text-align: center;
    font-size: medium;
}
#proyectos{
    background-color: var(--color-primario);
    text-align: center;
}
.p-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#contacto{
    background-color: var(--color-blanco);
    flex-direction: column;
    height: auto;
    padding: 5rem 3rem;
}
#contacto p{
    margin: 5rem 0;
    text-align: center;
    font-size: medium;
}
.c-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.c-container img{
    height: 50px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50%;
}
.c-container img:hover{
    transform: translateY(-5px);
    transition: all 0.5s ease;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.378);
}
.c-container #wsp:hover{
    border-radius: 50%;
    background-color: #07c757; 
}
.c-container #ig:hover{
    border-radius: 50%;
    background-color: #b61950;
}
.c-container #gh:hover{
    border-radius: 50%;
    background-color: var(--color-blanco);    
}
.c-container #email:hover{
    border-radius: 50%;
    background-color: #3558e2;
}
/* PIE DE PAGINA */
footer{
    background-color: var(--color-negro);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 3rem;
    height: auto;
}
footer img{
    cursor: pointer;
    height: 60px;
}
footer img:hover{
    transform: translateY(-5px);
    transition: all 0.5s ;
}
footer p{
    color: var(--color-blanco);
    opacity: 0.75;
}
footer hr{
    width: 50vw;
    margin-bottom: 20px;
    opacity: 0.25;

}